@import "tailwindcss";
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f4f6;
  color: #333;
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
button {
  transition: background-color 0.3s;
}
button:hover {
  background-color: #6B46C1;
}
.perspective {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
.slick-list {
  overflow: hidden !important;  /* prevent scrollbars */
}

.slick-track {
  display: flex !important;     /* aligns properly */
}

